<section class="user-page">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } else { %>
        res.redirect('/')
    <% } %>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
    <% } %>

    <% if (user) { %>
        <h2>
            Welcome <%- user %>
        </h2>
    <% } %>

    <h3>You're logged in.</h3>
    <div class="linksmanagementuserportal">
        <a href="/account/edit/<%- accountid %>" title="edit acount information" class="anchorsmanagement">Edit acount information</a>
    </div>


    <% if (type == "Admin" || type == "Employee") { %>
        <div class="userinventoryaccess">
            <h3>Inventory Management</h3>
            <a href="/inv/" title="Inventory management"   class="anchorsmanagement">inventory management</a> 
        </div> 
    <% } %>

    <% if (type == "Client") {%> 
        <br>
    <% } %>

    <h2>Message Center</h2>
    <ul>
        <li><p>You have <%= locals.count %> unread messages.</p></li>
        <li>Go to <a href="/account/messages/<%- accountid %>">Inbox</a></li>
    </ul>


</section>