<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")  %>

<body>
    <div id="wrapper">
        <div class="menu-btn">
            <a href="#>" class="andale" >
                <span>
                    <i class="fas fa-bars fa-2x"></i>
                </span>
                <span class="span2">
                    <i class="fa-solid fa-xmark-large"></i>
                </span>
            </a>
            
            <%- include("../partials/header")  %>
            <%- include("../partials/navigation")  %>
        </div>
        <main class="boudy">
            <%- body %>
        </main>
        
        <%- include("../partials/footer")  %>
    </div>
</body>
</html>
